<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 현재 Mapper XML이 어떤 Java 인터페이스와 연결되는지 지정 -->  
<mapper namespace="com.korea.product.dao.ProductDAO">

	<!-- id : DAO 인터페이스의 메서드 이름과 연결
	resultType : SQL 실행해서 조회된 결과를 어떤 JAVA 객체에 담을 것인지 지정 -->

	<!-- 전체 조회 -->
	<select id="findAll" resultType="ProductVO">
		SELECT * from product
	</select>
	
	<!-- 아이디로 조회 -->
	<select id="findById" resultType="ProductVO">
		SELECT * FROM product where product_id = #{id}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="createProduct">
		INSERT INTO product(
			product_name,
			product_stock,
			product_price)
		VALUES(
			#{productName},
			#{productStock},
			#{productPrice})
	</insert>
	
	<!-- 상품 수정 -->
	<update id="update">
		UPDATE product
		SET 
		product_name = #{productName},
		product_stock = #{productStock},
		product_price = #{productPrice}
		<where>
			product_id = #{productId}
		</where>
	</update>  
	
	
</mapper>