<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 현재 Mapper XML이 어떤 Java 인터페이스와 연결되는지 지정 -->  
<mapper namespace="com.korea.petclinic.dao.ReservationDAO">

	<!-- id : DAO 인터페이스의 메서드 이름과 연결
	resultType : SQL 실행해서 조회된 결과를 어떤 JAVA 객체에 담을 것인지 지정 -->
	<select id="findAll" resultType="ReservationVO">
		SELECT * FROM reservation
		</select>
	
	<!-- id를 통한 단건 조회 -->
	<select id="findById" resultType="ReservationVO">
		SELECT * FROM reservation WHERE id=#{id}
	</select>
	
	<!-- 등록 -->
	<insert id="insert">
		INSERT INTO reservation
			(pet_name,
			owner_name,
			animal_type,
			doctor_name,
			reservation_date,
			status,
			price)
		VALUES(
			#{pet_name},
			#{owner_name},
			#{animal_type},
			#{doctor_name},
			#{reservation_date},
			#{status},
			#{price})
	</insert>
	
	<!-- 수정 -->
	<update id="update">
		UPDATE reservation
		SET 
			pet_name = #{pet_name},
			owner_name = #{owner_name},
			animal_type = #{animal_type},
			doctor_name = #{doctor_name},
			reservation_date = #{reservation_date},
			status = #{status},
			price = #{price}
		where id=#{id}
	</update>

	<!-- 도서 삭제 -->
	<delete id="delete">
		delete from reservation
		where id = #{id}
	</delete>
	
	<!-- 검색 기준 선택 -->
	<select id="findByTypeAndKeyword" resultType="ReservationVO">
		SELECT * FROM reservation
		<where>
			<choose>
				<when test="searchType == 'pet'">
					pet_name LIKE CONCAT('%', #{keyword},'%')
				</when>
				
				<when test="searchType == 'owner'">
					owner_name LIKE CONCAT('%', #{keyword},'%')
				</when>
				
				<when test="searchType == 'doctor'">
					doctor_name LIKE CONCAT('%', #{keyword},'%')
				</when>
				
				<otherwise>
					1 = 0
				</otherwise>
			</choose>
		</where>
	</select>
	
	<select id="findAllOrder" resultType="ReservationVO">
		SELECT * FROM reservation
		<choose>
			<when test="sort == 'desc'">
				ORDER BY price DESC
			</when>
			<when test="sort == 'asc'">
				ORDER BY price ASC
			</when>
			<otherwise>
				ORDER BY id
			</otherwise>
		</choose>
	</select>
	
	<!-- 예약 상태별 예약 수 조회 -->
	<select id="countByStatus" resultType="ReservationStatusCountVO">
		SELECT COUNT(*) as count, category FROM reservation
		GROUP BY status
	</select>
	
</mapper>