<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.korea.movie_reservation.dao.ReservationDAO">

	<insert id="insert">
		INSERT INTO reservation(
		customer_name,
		movie_id,
		seat_number,
		ticket_count,
		reservation_status)
		values(
		#{customerName},
		#{movieId},
		#{seatNumber},
		#{ticketCount},
		#{reservationStatus}
		)
	</insert>
	
	<update id="update">
		UPDATE reservation
		SET 
			reservation_date = #{reservationDate},
			seat_number = #{seatNumber},
			ticket_count = #{ticketCount},
			reservation_status = #{reservationStatus}
		<where>
			reservation_id = #{reservationId}
		</where>
	</update>
	
	<select id="findReservationDetails">
		SELECT 
		r.reservation_id, 
		r.customer_name,
		r.movie_id,
		m.movie_title,
		m.movie_genre,
		r.reservation_status,
		r.reservation_date,
		r.seat_number,
		r.ticket_count,
		m.ticket_price,
		m.ticket_price * r.ticket_count as total_price
		from reservation r
		INNER JOIN movie m
		on r.movie_id = m.movie_id
	</select>
	
</mapper>