*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 40px 0;
    background-color: rgb(243, 243, 253);
}

.container{
    margin: 0 auto;
    padding: 24px;
    width: 800px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.join-form{
    background-color: rgb(243, 243, 253);
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 12px;

    border-radius: 8px;
    border: 1px solid rgb(210, 210, 247);
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.error{
    color: red;
}

.success{
    color: green;
}

label{
    font-weight: 500;
}

input, select{
    padding: 12px;
    border: 1px solid rgb(210, 210, 247);
    border-radius: 4px;
}

.button-group{
    width: 100%;
    display: flex;
    align-self: center;
    gap: 12px;
    margin-bottom: 20px;
}

button{
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;

    border: none;
    border-radius: 8px;
    color: white;
    flex : 1;

    cursor: pointer;

    transition: 0.5s;

}

button:hover{
    opacity: 0.7;
}


.add-btn{
    background-color: rgb(59, 59, 253);
}

.load-btn{
    background-color: rgb(58, 58, 58);
}

.student-list{
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.student-list__label{
    display: flex;
    justify-content: space-between;
}

.student-list__label span{
    background-color: rgb(204, 201, 252);
}

.student-list{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.student-list tr, td, th{
    padding: 4px;
    text-align: center;
    border: 1px solid rgb(150, 147, 184);
}

.student-list th{
    background-color: rgb(204, 201, 252);
}

#nameMsg, #courseMsg, #emailMsg {
    font-size: 14px;
}